<main class="main">
  <section class="hero">
    <div class="rectangle-hero">
      <h3 class="claim">&ldquo;Code doesn't lie&rdquo;</h3>
    </div>
  </section>

  <section class="team" id="team">
    <div class="margin-leader">
      <h2 class="title-team">STRANGER CODERS</h2>
      <p class="text team-text">
        ¿Has visto la serie <span class="cursive">Stranger Things</span>?
        Spoilers aparte, está centrada en la historia de cinco niños con un
        férreo objetivo común que luchan contra una realidad incómoda.
      </p>
      <p class="text team-text">
        Precisamente eso es <span class="cursive">Stranger Coders</span>. Cinco
        mujeres que, contra todo confort, inician un nuevo camino para
        transformar su realidad. ¿Nuestro objetivo? Ser programadoras <span class="cursive">front-end</span>.
        Puede que comparado con entender cómo funcionan los portales
        interdimensionales, manejar código parezca poca cosa, pero… hay cosas
        contra las que no se puede competir, ¿no crees?
      </p>
      <div class="rectangle"></div>
    </div>
  </section>

  <section class="strengths-weaknesses">
    <section class="strengths">
      <h3 class="titlesw hightlight">Fortalezas</h3>
      <p class="text textsw s">
        Puede que técnicamente acabemos de nacer, pero para bien o para mal, no
        tenemos la piel tersa, granos en la cara, ni gallos en la voz. En
        <span class="cursive">soft-skills</span> somos casi senior (guiño, guiño). Nos gusta buscar soluciones únicas y
        originales, somos ocurrentes, simpáticas y además, políglotas.
        ¿Qué mas se puede pedir? Está bien, derrotar al Azotamentes aún no está en nuestra <span class="cursive">to-do
          list</span>, pero hemos salido airosas de situaciones peores...
      </p>
    </section>
    <section class="weaknesses">
      <h3 class="titlesw hightlight">Debilidades</h3>
      <p class="text textsw w">
        Procedencias dispares, personalidades únicas, formaciones diferentes… A
        priori no suena muy bien, ¿verdad? Sí, es cierto, pero además de la
        diversidad, contamos con un catalizador común que aúna todas las fuerzas
        divergentes en una misma dirección: la pasión por el código. Plurales,
        sí, pero como consecuencia, también más creativas, eficientes y… ¿por
        qué no decirlo? Imparables.
      </p>
    </section>
  </section>

  <section class="people" id="people">
    <div class="margin-leader">
      <h2 class="title-people">QUIÉNES SOMOS</h2>
      <section class="person person-left">
        <div class="photo-container">
          <img class="photo photo1" src="./assets/images/blanca.jpg" alt="Blanca" title="Blanca Bigeriego" />
        </div>
        <div class="text-container">
          <h3 class="name">Blanca Bigeriego</h3>
          <p class="description">
            ¡Hola! Soy Blanca y estoy muy contenta de que hayas decidido visitar
            nuestra página web para conocernos un poco más. Estudié Educación
            Social y Auxiliar de Enfermería, y he trabajado con diferentes
            colectivos como personas con autismo y ancianos. También hice mis
            pinitos en cocina... Ahora me adentro en el mundo de la
            programación. Me gusta mucho leer, los animales e involucrarme en
            proyectos emocionantes que me hagan crecer tanto de manera
            profesional como personal. ¡Espero que os guste nuestra web!
          </p>
          <ul class="socialmedia socialmedia-left">
            <li class="item">
              <a class="link" href="" target="_blank"><i class="fa-brands fa-twitter" title="Twitter"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="" target="_blank"><i class="fa-brands fa-linkedin-in"
                  title="Linkedin"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="" target="_blank"><i class="fa-brands fa-github-alt"
                  title="GitHub"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="" target="_blank"><i class="fa-solid fa-envelope"
                  title="Email"></i></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="person person-right">
        <div class="photo-container">
          <img class="photo photo2" src="./assets/images/miriam-2.jpg" alt="Miriam" title="Míriam Almagro" />
        </div>
        <div class="text-container">
          <h3 class="name">Míriam Almagro</h3>
          <p class="description">
            Inquieta, apasionada de la tecnología y curiosa por naturaleza.
            Cuando no estoy delante del ordenador, me encontrarás detrás de un
            buen libro, subiendo montañas o, por lo general, haciendo algo friki
            o completamente inusual. Me encantan los retos y me atrae todo lo
            relacionado con la creatividad.
          </p>
          <ul class="socialmedia socialmedia-right">
            <li class="item">
              <a class="link" href="https://twitter.com/miralmag" target="_blank" title="Twitter"><i
                  class="fa-brands fa-twitter"></i></a>
              <a class="link link-with-point" href="https://www.linkedin.com/in/miriamalmagro/" target="_blank"><i
                  class="fa-brands fa-linkedin-in" title="Linkedin"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="https://github.com/miralmag" target="_blank"><i
                  class="fa-brands fa-github-alt" title="GitHub"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="mailto:miriam.almagro@gmail.com" target="_blank"><i
                  class="fa-solid fa-envelope" title="Email"></i></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="person person-left">
        <div class="photo-container">
          <img class="photo photo3" src="./assets/images/rocio-pic.jpg" alt="Rocio" title="Rocío Florencio" />
        </div>
        <div class="text-container">
          <h3 class="name">Rocío Florencio</h3>
          <p class="description">
            Me encontrarás por la calle saludando a los perros, y en mi casa si
            tienes llave (¿de dónde la has sacado?). Me apasiona resolver
            puzles, y siempre voy con banda sonora propia, pero no como las de
            las carreteras.
          </p>
          <ul class="socialmedia socialmedia-left">
            <li class="item">
              <a class="link" href="https://twitter.com/heperdidoelhilo" target="_blank"><i class="fa-brands fa-twitter"
                  title="Twitter"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="https://www.linkedin.com/in/rflorencio/" target="_blank"><i
                  class="fa-brands fa-linkedin-in" title="Linkedin"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="https://github.com/rocioflo" target="_blank" title="GitHub"><i
                  class="fa-brands fa-github-alt"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="mailto:rocioflorencioytal@gmail.com" target="_blank"><i
                  class="fa-solid fa-envelope" title="Email"></i></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="person person-right">
        <div class="photo-container">
          <img class="photo photo4" src="./assets/images/photo_sandra.jpeg" alt="Sandra" title="Sandra Martín" />
        </div>
        <div class="text-container">
          <h3 class="name">Sandra Martín</h3>
          <p class="description">
            Dibujar, resolver sudokus y coleccionar plantitas son algunas de mis
            aficiones. Ninguna de ellas da de comer a mis perros, dos
            aristocrátas de corazón. Por suerte, la programación <span class="cursive">is my new passion</span> y paso
            la mayor parte del tiempo aporreando un teclado. Yo ya soy feliz, pero mis perros aún sueñan con una vida en
            la opulencia, ¿me ayudas a proporcionársela?
          </p>

          <ul class="socialmedia socialmedia-right">
            <li class="item">
              <a class="link" href="https://mobile.twitter.com/littledevbits" target="_blank"><i
                  class="fa-brands fa-twitter" title="Twitter"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point"
                href="https://www.linkedin.com/in/sandra-mart%C3%ADn-l%C3%B3pez-19370b222/" target="_blank"><i
                  class="fa-brands fa-linkedin-in" title="Linkedin"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="https://github.com/SandML3" target="_blank" title="GitHub"><i
                  class="fa-brands fa-github-alt"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="mailto:sandramartinlop@gmail.com" target="_blank"><i
                  class="fa-solid fa-envelope" title="Email"></i></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="person person-left">
        <div class="photo-container">
          <img class="photo photo5" src="./assets/images/yaiza.jpg" alt="Yaiza" title="Yaiza Soria" />
        </div>
        <div class="text-container">
          <h3 class="name">Yaiza Soria</h3>
          <p class="description">
            Madrileña de pura cepa, aunque de corazón segoviano. Estudié
            ingeniería alimentaria, pero después de estar trabajando como
            responsable de calidad en una empresa de judías verdes en
            Mercamadrid, me di cuenta de que no era mi pasión y descubrí que
            programar sí lo era. Deseando poder poner en práctica todos mis
            conocimientos en vuestra empresa.
          </p>
          <ul class="socialmedia socialmedia-left">
            <li class="item">
              <a class="link" href="https://twitter.com/yaizafelices" target="_blank"><i class="fa-brands fa-twitter"
                  title="Twitter"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="https://www.linkedin.com/in/yaiza-soria-felices-824b769a"
                target="_blank"><i class="fa-brands fa-linkedin-in" title="Linkedin"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="https://github.com/yaizafelices/ejercicios_de_adalab.git"
                target="_blank" title="GitHub"><i class="fa-brands fa-github-alt"></i></a>
            </li>
            <li class="item">
              <a class="link link-with-point" href="mailto:yaizafelices@gmail.com" target="_blank" title="Email"><i
                  class="fa-solid fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </section>
</main>