$dark-green: #099d8d;
$aqua: #14d9c4;
$font-main: "Open Sans", sans-serif;
$font-secondary: "Rubik", sans-serif;
$font-color: #54585a;
$font-color-secondary: #b8b8b9;

$dark-red: #e61919;
$ligth-red: #fd4d4dc2;
