/* ----------------- PAGE CONTACT: YAIZA------------------ */

.contact-intro {
  margin: 0 15px;
  text-align: center;
  transition: margin 500ms;

  @media all and (min-width: 768px) {
    margin: 15px 120px;
    transition: margin 500ms;
    
  }
  @media all and (min-width: 1200px) {
    margin: 45px 450px;
  }
}

// .contac-main {
//   margin: 0 0.938rem 0 0.938rem;
// }

.last-text {
  /*margin: 1.25rem;*/
  font-size: 0.8rem;
  display: inline-block;
  /*margin: 2rem 0 4rem;*/
}

.asterisk {
  color: $ligth-red;
  font-weight: 700;
}

.text-contact {
  font-family: $dark-red;
  line-height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 20px;
}

.title-contact {
  font-family: $font-secondary;
  color: $dark-red;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 5rem;
  text-align: center;
}

.section-forms {
  font-size: 0.875rem;
  margin-top: 50px;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.5rem;
  align-items: center;
}

.label {
  max-width: 140px;
  @media all and (min-width: 768px) {
    max-width: none;
  }
}

.section-forms .name,
.email,
.phone,
.message {
  margin: 0.438rem 0 1rem;
  padding: 0.688rem 0.938rem 0.938rem 0.938rem;
  width: 290px;
  opacity: 0.8;
  text-align: left;
  display: block;

  @media all and (min-width: 768px) {
    width: 442px;
  }

  @media all and (min-width: 1200px) {
    width: 601px;
  }
}

.message {
  padding-bottom: 75px;
}


::placeholder {
  color: $font-color-secondary;
  font-family: $font-main;
  font-size: .8rem;
}


.send-button {
  background-color: $dark-red;
  height: 2.813rem;
  width: 320px;
  border: none;
  border-radius: 0.25rem;
  margin: 1.875rem 0rem 0rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: all 1s;

  @media all and (min-width: 768px) {
    width: 206px;
    margin-left: 270px;
    animation: button 1s;

    @keyframes button {
      0% {
        width: 320px;
        margin: 1.875rem 0rem 0rem;
      }
    }
  }

  @media all and (min-width: 1200px) {
    width: 278px;
    margin-left: 350px;
    transition: all 1s;
  }
}

.email-phone {
  @media all and (min-width: 1200px) {
    display: flex;
    gap: 10px;
  }
}

.label .email {
  @media all and (min-width: 1200px) {
    width: 395px;
  }
}

.label .phone {
  @media all and (min-width: 1200px) {
    width: 162px;
  }
}

.send-button:hover {
  background-color: $ligth-red;
}
