 /* ------ HERO: YAIZA */

.hero {
    background-image: url(../images/logo.jpg);
    background-size: 80%;
    background-position: center 70%;
    background-color: black;
    background-repeat: no-repeat;
    width: 100%;
    height: 26.313rem;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;

    @media all and (min-width: 768px) {
        background-size: 60%;
        background-position: center center;  
    }

    @media all and (min-width: 1200px) {
        background-size: 50%;
        background-position: center center;  
    }
}

.rectangle-hero {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    transform: translate(0%, 50%);
    transition: transform 1s;
}

.claim {
    height: 3.125rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding: .875rem .938rem 1rem .938rem;
    line-height: 1.5rem;
    letter-spacing: .02rem;
    justify-content: center;
    background-color: white;
    color: black;
}


@media all and (min-width: 768px) {

    .rectangle-hero {
        width: 40%;
        opacity: 90%;
        margin-left: 2.823rem;
        transform: none;
    }

    .claim{
        background-color: #fde4e4;
        color: $dark-red;
    }
}

@media all and (min-width: 1200px){

    .rectangle-hero{
        width: 44%;
        opacity: 0.9;
        transform: none;
        margin-left: 7rem;
        
    }

    .claim {
        font-size: x-large;
        line-height: 1.8rem;
        transition: all 1s;
    }


}