/* ----------PEOPLE: MIRIAM */

.margin-leader {
    margin: 0 16px;
    max-width: 100vw;
    position: relative;
}

.title-people {
    color: $ligth-red;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-family: 'rubik', sans-serif;
    margin: 30px 0;
    
    @media all and (min-width: 768px) {
        margin: 45px 0
        41px 0;
        color: $dark-red
    }
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.person .photo{
    height: 180px;
    width: 180px;
    @media all and (min-width: 768px){
        height: 205px;
        width: 205px;
    }
    border: solid 5px #fde4e46e;
    border-radius: 4px;
}

.margin-leader .name{
    font-family: 'Open Sans', sans-serif;
    color: $dark-red;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    padding: 15px 20px 0;

    @media all and (min-width: 768px) {
        color: $ligth-red;
    }
}

.person .description {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 24px;
    margin-bottom: 15px;
}
.cursive {
    font-style: oblique;
}
.socialmedia {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.socialmedia .item {
   font-weight: 600;
}

.socialmedia .link{
    color: $ligth-red;
    text-decoration: none;
    @media all and (min-width: 768px) {
        color: $dark-red;
    }
}

.link-with-point::before{
    content: '•';
    font-size: 0.75rem;
    padding: 12px;
    color: $ligth-red;
}

.socialmedia .link:hover{
    color: $dark-red;
    @media all and (min-width: 768px) {
        color: $ligth-red;
}
}


@media all and (min-width: 768px) {

    .person-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 60px 44px;
        text-align: left;
        transition: all 1s;
    }

    .person-right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin: 0 44px 60px 0;
        text-align: right;
        transition: all 1s;
    }

    .photo-container{
        height: 224px;
        width: 224px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .person-left .text-container{
     margin-left: 38.5px;
     max-width: 442px;
    }

    .person-right .text-container{
    margin-right: 38.5px;
    max-width: 442px;
    }

    .person-left .name{
        text-align: left;
        padding: 0;
        font-weight: 500;
    }

    .person-left .description{
        text-align: left;
    }

    .person-right .name{
        text-align: right;
        padding: 0;
        font-weight: 500;
    }

    .person-right .description{
        text-align: right;
    }

   .socialmedia-left{
        justify-content: flex-start;
        padding-left: 0;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .socialmedia-right{
        justify-content: flex-end;
        padding-right: 0;
        margin-top: 15px;
        margin-bottom: 0;
    }
}

@media all and (min-width: 1200px) {

    /* ------RESPONSIVE MIRIAM */

    .margin-leader {
        margin: 50px 138px;
        transition: margin 1s;
    }

    .person {
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 1280px;
    }

    .person .description{
        max-width: 439px;
        padding: 0;
    }

    .text-container{
        min-width: 442px; 
    }

    .person-left .text-container{
    margin-left: 45px;
    }

    .person-right .text-container{
        margin-right: 45px;
        }

    .person .photo, .photo-container {
        height: 278px;
        width: 278px;
    }
}
